/* Banner */


#banner {
    display: none;
}

/* form */
#form-section {
    width: 95%;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 2px;
}

#form-section h2 {
    text-align: center;
    font-weight: 500;
}

#form-section h2::after {
    content: "";
    display: block;
    width: 42%;
    background-color: #93AD18;
    height: 2px;
    position: relative;
    left: 4.5em;
    top: 0.2em;
}

form {
    width: 90%;
    padding: 20px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

form .user-form,
.address-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

form .address-form {
    margin-top: 20px;
}

form legend {
    border: 0.5px solid black;
    text-align: center;
    margin-bottom: 10px;
    padding: 7px 0;
}

form label {
    font-weight: 300;
    padding: 0 5px;
}

form label .span-label {
    color: red;
    font-weight: 500;
}

form input {
    width: 90%;
    border: 0.5px solid rgb(205, 202, 202);
    border-radius: 10px;
    height: 40px;
    margin: 2px 0 5px 0;
    font-weight: 500;
    color: hsl(0, 0%, 29%);
    font-family: "Kanit";
    letter-spacing: 0.3px;
}

form .inputError {
    border: solid 0.5px red;
}

form input[type="date"] {
    padding: 1px 2px;
    font-weight: 400;
    color: hsl(0, 0%, 29%);
    font-family: "Kanit";
}

::-webkit-calendar-picker-indicator {
    font-size: 20px;
}

.css-1jwi8f4-singleValue {
    font-size: 14px;
    font-weight: 500;
    font-family: "Kanit";
    color: hsl(0, 0%, 29%);
    letter-spacing: 0.3px;
}

::placeholder {
    font-weight: 400;
    color: rgb(189, 185, 185);
    padding: 0 5px;
}

form .fullName-input {
    display: flex;
    justify-content: space-between;
}

form .fullName-input label {
    font-weight: 500;
    color: rgb(177, 176, 176);
    font-size: 12px;
}

form button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    background-color: #93AD18;
    opacity: 0.8;
    cursor: pointer;
}

form button:hover {
    opacity: 1;
}

form .success {
    background-color: #93AD18;
}

form .fullName-input .error {
    width: auto;
}

form .error {
    font-size: 10px;
    margin: 0;
    color: red;
    padding: 0 5px;
    position: relative;
    bottom: 5px;
    width: 75.5%;
}

/* Modal */
/* .bg-modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.modal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 250px;
    border-radius: 10px;
}

.modal-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 5em;
}

.modal img {
    width: 20px;
    position: relative;
    right: 0;
    left: 0;
}

.modal span {
    width: 97%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

form-section h3 {
    text-align: center;
    font-weight: 500;
    margin: 0;
    position: relative;
    bottom: 4em;
    animation: appearance-h3 2s 0.2;
}

@keyframes appearance-h3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

#form-section h3 {
    text-align: center;
    font-weight: 500;
    margin: 0;
    position: relative;
    bottom: 4em;
    animation: appearance-h3 2s 0.2;
}

._2RpoV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 3em;
}

@media screen and (min-width:420px) and (max-width:766px) {
    #form-section h2 {
        border: solid red;
    }
}

@media screen and (min-width:767px) and (max-width:1366px) {

    #form-section h2::after {
        width: 20%;
        left: 40%;
    }

    form {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    form legend {
        width: 270px;
    }

    form .user-form,
    .address-form {
        width: 50%;
        align-items: center;
    }

    form .address-form {
        margin-top: 0;
    }

    form input {
        width: 270px;
    }

    form label {
        width: 270px;
    }

    .fullName-input {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .fullName-input div {
        display: flex;
        flex-direction: column;
    }

    .fullName-input input {
        width: 270px;
        margin: 0;
    }

    .fullName-input label {
        margin-bottom: 5px;
    }

    .fullName-input .error {
        margin-top: 9px;
    }

    form .error {
        margin: 5px 0 0 0;
        width: 27em;
    }

    form button {
        margin: 20px 0 0 0;
    }
}


@media screen and (min-width:1367px) {

    /* Page / Create Employee */
    #create-employee {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        margin: 30px auto;
    }

    /* Banner */
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 700px;
    }

    #banner h2 {
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .banner-contains {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }

    .banner-contains .banner-main {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        margin-bottom: 7em;
    }

    .banner-contains .column {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 2em;
    }

    .banner-contains .logo-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        top: 2em;
        right: 1em;
    }

    .banner-contains h3 {
        margin: 0;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .weight-letter {
        font-weight: 500;
        font-size: 1.2em;
    }

    .banner-contains .logo-title p {
        margin: 0 0 0 10px;
        font-size: 2em;
    }

    .logo-title p .color-1 {
        color: #748B17;
    }

    .logo-title p .color-3,
    .color-4 {
        color: #93AD18;
    }

    .logo-title p .color-4 {
        font-weight: 300;
    }

    .banner-contains .column .lorem {
        position: relative;
        left: 1em;
        width: 400px;
        margin: 40px 0 20px 0;
        font-weight: 300;
    }

    .banner-contains button {
        border: none;
        font-size: 15px;
        font-weight: 700;
        background-color: #93AD18;
        color: white;
        padding: 20px 10px;
        border-radius: 50px;
        position: relative;
        top: 1em;
        left: 19em;
        right: 0;
        opacity: 0.8;
        cursor: pointer;
    }

    .banner-contains button:hover {
        opacity: 1;
    }

    .banner-contains img {
        width: 250px;
        margin-bottom: 10em;
        margin-right: 20px;
        object-fit: cover;
    }

    #form-section {
        width: 48%;
        /* height: 750px; */
        margin: 0;
    }

    #form-section h2::after {
        width: 17.5%;
        left: 41.3%;
    }

    form {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        padding-bottom: 30px;
    }

    form legend {
        width: 270px;
    }

    form .user-form,
    .address-form {
        width: 50%;
        align-items: center;
    }

    form .address-form {
        margin-top: 0;
    }

    form input {
        width: 270px;
    }

    form label {
        width: 270px;
    }

    .fullName-input {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .fullName-input div {
        display: flex;
        flex-direction: column;
    }

    .fullName-input input {
        width: 270px;
        margin: 0;
    }

    .fullName-input label {
        margin-bottom: 5px;
    }

    .fullName-input .error {
        margin-top: 9px;
    }

    form .error {
        margin: 5px 0 0 0;
        width: 27em;
    }

    form button {
        padding: 15px 10px;
        margin: 20px 0 0 0;
        height: auto;
        border-radius: 50px;
    }
}